.editEvent > .deleteDiv > img {
    width: 35px;
}
.editEvent

{      background-color:#73AAEB;
    border: black 2px solid;
    position: fixed;
    width: 400px;
    height: 550px;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
    top: 10%;
    display: flex;
    flex-direction: column;
    
    padding: 5px;

}
.editEvent > .deleteDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 5px;
}

.editEvent > input ,.editEvent > label {
    width :50%;
    margin:auto;
    margin-bottom: 15px;
    margin-top: 4px;
}


.editEvent>input:nth-child(even)
{
    background-color: #ffffff;
    }
    .editEvent>input:nth-child(odd){
        background-color: #E8FC04;
        }
        .editEvent > textarea{
            margin:auto;
            margin-top: 50px;
            background: #FAEA9A;
box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 5px;
            min-height: 180px;
            width: 90%;
        }


        .editEvent > .imageInput{
            width: 100%;
        }
        






@media only screen and (max-width: 400px) {
.editEvent{
    width: 90%;


}

}