.h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #73aaeb;
  color: #016ff5;

}


.signUpForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 3px solid black;
  /* padding: 0px 30px 10px 30px; */
  font-weight: 1000;
  font-size: x-large;
  margin: auto;   
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5%; 
   border: 3px solid rgb(255, 255, 255);
padding-bottom: 20px;

}


.signUpForm>label {
  display: flex;

  margin: 5px 0px 5px 0px;
  width: 100%;
  color: #FFFFFF;
  font-size: medium;
}

.signUpForm>input {
  margin: 10px 0px 0px 0px;
  height: 25px;
  background:#ffffff;
  color: rgb(0, 0, 0);
  font-size: medium;
}

@media only screen and (max-width: 600px) {
  .signUpForm {
    width: 90%;
  }
}

.aLink {
  color: blue;
  font-size: large;
  margin-top: 20px;
}

.errorLabel{
  color: rgb(248, 81, 81);
  font-size: small;
  font-weight: 300;
}
.errorField{
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.hide{
display: none;
}
.error{
  border: red 2px solid;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.SignupButton{
  height: 30px;
  border-radius: 9px;
  margin-top: 30px;
  font-size: medium;

}

.LoginButton{
  height: 30px;
  width: 57px; ;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FAEA9A;
  border-radius: 9px;
  color: black;
  font-size: 17px;
  align-content: center;
  font-size: 15px;
  margin-top: 30px;
}

#date{
  color: #000000;
}

